# Quartus compilation output folder(s)
MIPS/db/
MIPS/incremental_db/
MIPS/output_files/
MIPS/simulation/

# Backups and temporary file(s)
MIPS/*.bak
MIPS/*.rpt
MIPS/*.qws
MIPS/*.qar
MIPS/*.archive.rpt

# Restored project folder(s)
MIPS/*_restored/

# Miscellaneous
MIPS/*.tmp
MIPS/*.temp

# Input file(s)
MIPS/*.txt