# Quartus compilation output folders
Processor_MIPS/db/
Processor_MIPS/simulation/
Processor_MIPS/incremental_db/
Processor_MIPS/output_files/

#   Allow important FPGA output files
!Processor_MIPS/output_files/*.sof
!Processor_MIPS/output_files/*.jdi
!Processor_MIPS/output_files/*.pin

#   Compilation reports
Processor_MIPS/*.rpt
Processor_MIPS/output_files/*.rpt
Processor_MIPS/output_files/*.summary
Processor_MIPS/output_files/*.smsg
Processor_MIPS/output_files/*.done

# Backup and temporary files
Processor_MIPS/*.qar
Processor_MIPS/*.bak
Processor_MIPS/*.tmp
Processor_MIPS/*.temp
Processor_MIPS/*.archive.rpt

# Restored project folders
Processor_MIPS/*_restored/